body {
    margin: 0;
    background-color: rgb(23, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 10%; 
    height: 100px;
    position: absolute;
    left: 60px; 
    top: 10%; 
    transform: translateY(-50%); 
    margin-top: 20px;
}

.title {
    font-style: italic;
    font-weight: bold;
    font-family: 'Inria Sans' , sans-serif;
    font-size: 50px;
    text-shadow: 8px 6px 7px #000;
    color: white;
    position: absolute;
    top: 7%;
    left: 45%
}


.back-button {
    margin-top: 40px;
    width: 200px;
    height: 60px;
    background-color: white;
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 6%;
    left:  80%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.back-button:hover {
    background-color: #eee;
}
